nav {
  background-color: steelblue;
  display: flex;
  justify-content: center;
}

nav ul {
  text-decoration: none;
  display: flex;
  list-style: none;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: white;
}
nav li {
  padding: 20px;
}

nav li :hover {
  color: rgb(224, 220, 220);
}

.active { 
  background-color: white;
  color: steelblue;
  padding: 4px;
  border-radius: 5px;
}

.active:hover{
  color: rgb(44, 103, 151);
  background-color: lightgray;
}